body {
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    background-color: var(--backgroud-color);
    color: #fff;
}

:root {
    --main-color: #49c8ee;
    --backgroud-color: #000;
}

h1{
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.navbar-brand img {
    height: 2.1rem;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.473);
    align-items: center;
}

.container{
    text-align: center;
}

.navbar-brand{
    font-family: "Montserrat", sans-serif;
    font-size: 20pt;
    color: #fff;
    font-weight: 500;
}

footer{
    background-color: var(--main-color);
    font-family: "Montserrat", sans-serif;
}

.cuadro-iconos{
    background-color: var(--main-color);
}

.card-img-top {
    width: 100%;
    height: 8rem;
    object-fit: cover;
}

.card {
    background-color: var(--main-color);
    color: white;
}

.card h4{
    font-family: "Montserrat", sans-serif;
}